.navbar-default
{
	background-color:transparent;
}
.navbar-default .navbar-brand
{
	font-weight: bold;
	color:#FFF;
}
.account-pages
{
	background:none;
}

h1
{
	color:#FFF; font-weight:bold;
	font-size:70px;
	margin-top:100px;
	text-align: center;
	margin-bottom:15px;
}
.get_started
{
	font-size:20px;
	padding-left:60px;
	padding-right:60px;
	padding-top:20px; padding-bottom:20px; margin:auto; display:inline-block; text-align: center;
	background-color:rgba(93, 156, 236, 0.5) !important; border-color:transparent !important;
}
.subtitle
{
	font-size:30px; color:#FFF;
}

	body {

		
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-color: #000;
	}

	

/* BG */

	#bg {
		-moz-transition: opacity 2s ease-in-out;
		-webkit-transition: opacity 2s ease-in-out;
		-ms-transition: opacity 2s ease-in-out;
		transition: opacity 2s ease-in-out;
		height: 100%;
		left: 0;
		opacity: 0.25;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;
	}

		#bg div {
			-moz-transition: opacity 3s ease, visibility 3s;
			-webkit-transition: opacity 3s ease, visibility 3s;
			-ms-transition: opacity 3s ease, visibility 3s;
			transition: opacity 3s ease, visibility 3s;
			background-size: cover;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			visibility: hidden;
			width: 150%;
		}

			#bg div.visible {
				-moz-animation: bg 45s linear infinite;
				-webkit-animation: bg 45s linear infinite;
				-ms-animation: bg 45s linear infinite;
				animation: bg 45s linear infinite;
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}

				#bg div.visible.top {
					z-index: 2;
				}

				@media screen and (max-width: 1280px) {

					#bg div.visible {
						-moz-animation: bg 29.25s linear infinite;
						-webkit-animation: bg 29.25s linear infinite;
						-ms-animation: bg 29.25s linear infinite;
						animation: bg 29.25s linear infinite;
					}

				}

				@media screen and (max-width: 736px) {

					#bg div.visible {
						-moz-animation: bg 18s linear infinite;
						-webkit-animation: bg 18s linear infinite;
						-ms-animation: bg 18s linear infinite;
						animation: bg 18s linear infinite;
					}

				}

			#bg div:only-child {
				-moz-animation-direction: alternate !important;
				-webkit-animation-direction: alternate !important;
				-ms-animation-direction: alternate !important;
				animation-direction: alternate !important;
			}

		body.is-loading #bg {
			opacity: 0;
		}

	@-moz-keyframes bg {
		0% {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			-moz-transform: translateX(-25%);
			-webkit-transform: translateX(-25%);
			-ms-transform: translateX(-25%);
			transform: translateX(-25%);
		}
	}

	@-webkit-keyframes bg {
		0% {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			-moz-transform: translateX(-25%);
			-webkit-transform: translateX(-25%);
			-ms-transform: translateX(-25%);
			transform: translateX(-25%);
		}
	}

	@-ms-keyframes bg {
		0% {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			-moz-transform: translateX(-25%);
			-webkit-transform: translateX(-25%);
			-ms-transform: translateX(-25%);
			transform: translateX(-25%);
		}
	}

	@keyframes bg {
		0% {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
		}

		100% {
			-moz-transform: translateX(-25%);
			-webkit-transform: translateX(-25%);
			-ms-transform: translateX(-25%);
			transform: translateX(-25%);
		}
	}
footer
{
	color:#FFF; display:block; padding-bottom:25px; position:absolute; bottom:0px; width:100%;


}
footer a 
{
	color:#FFF; display:inline-block; margin-left:20px;
}

footer .left
{
	text-align:left;
}


footer .right
{
	text-align:right;
}

.mobile-only
	{
		display:none;
	}
/* Type */
@media (max-width:767px){
	footer .left, footer .right
	{
		text-align:center; float:none !important; float:none; margin-bottom:5px;
	}
	.desktop-only
	{
		display:none;
	}
	.mobile-only
	{
		display:block;
		background-color:rgba(100, 100, 100, 0.7); width:100%;
	}
	.mobile-only li  a
	{
		line-height: 40px; color:#fff !important;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form
	{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
}
.navbar-default .navbar-toggle
{
	background-color:#FFF;
}
@media (max-width:414px){
	.welcome h1
	{
		font-size: 30px;
	}

	.subtitle {
    font-size: 15px;
    
	}
}

